button{
    background-color: rgb(206, 214, 208);
    border-radius: 1em;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}
button:hover{
    background-color: teal;
    color: whitesmoke;
}
h1,h2{
    font-weight: normal;
}
h1{
    letter-spacing: 5px;
    font-size: 50px;
    font-family: Courier New, monospace;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p{
    line-height: 2;
}
#signup{
    background-color: #394648;
    color: ghostwhite;
}
#signup:hover{
    background-color: ghostwhite;
    color: rgb(117, 31, 31);
}
/* Box Model */
.post{
    width: 70%;
    height: 100%;
    border: 1px solid #becece;
    box-sizing: border-box;
    border-left-width: 3px;
    border-radius: 0px 10px 10px 0px;
    padding: 0 0 5px 5px;
    margin: 0 0 20px 0;
}
.post .tags{
    color: gray;
    font-size: 16px;
}
.post .tags:hover{
    /* color: blue; */
    font-weight: bold;
    text-decoration: underline;
}
/* Child Combinator */
.post .link{
    font-size: 30px;
}
input[type="password"]{
    color: #20A4F3;
}
input[type="radio"]:checked{
    box-shadow: 0 0 0 1px rgba(85, 26, 4, 0.479);
}
/* Adjacent Combinator */
input[type="radio"]:checked + label{
    color:rgb(226, 3, 3);
}
.post:nth-of-type(2n-1){
    background-color: #E5E7E6;
}
p::selection{
    background-color: #fcbf49;
}

#rooster-fig{
    display: inline-block;
    width: 50%;
    margin: 0;
}
#rooster-par{
    display: inline-block;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
}

